@model IEnumerable<khachhang.api.Models.Taikhoan>
@{
    ViewData["Title"] = "TaiKhoan";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<h2>Quản lí tài khoản</h2>

<p>
    <br />
</p>

    <p>
        Nhập tên khách hàng: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <button type="submit"><i class="fa fa-search"></i></button>
    </p>
    <br />
<table sytle="width: 100%;" class="table table-striped table-bordered table-hover" id="dataTables-example">
    <thead>
        <tr>
            <th>
                Tài khoản
            </th>
            <th>
                Email
            </th>
            <th>
                @Html.ActionLink("Họ tên", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                Giới tính
            </th>
            <th>
                @Html.ActionLink("Ngày sinh", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                <p style="text-align:center">Chức năng</p>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            @if (item.Quyen != "1")
            {
                <td align="center">

                    <button class="btn btn-danger" onclick="notify('@item.TaiKhoan1');return false;">Xóa</button>&nbsp&nbsp&nbsp&nbsp
                </td>
            }
            else
            {
                <td align="center"></td>            
             }
</tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    function notify(id) {
        var con = confirm("Bạn có chắc chắn muốn xóa tài khoàn này?");
        if (con == true) {
            location.href = '/Admin/TaiKhoanDelete/' + id;
        }          
    }
</script>