@model khachhang.api.Models.Taikhoan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tài Khoản</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TaiKhoan1">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <form asp-action="Delete" style="display: inline-block">
        <input type="hidden" asp-for="TaiKhoan1"/>
        <input type="submit" value="Delete" class="btn btn-default" style="background-color: darkred ; color: white" /> |
    </form>

</div>
