@model List<QuanLiDoChoi.Models.CartItem>
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_layout.cshtml";
    var dem = 0;
    float tongtien = 0;
}


<div class="page-head_agile_info_w3l">

</div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="/Home/Index">Trang chủ</a>
                    <i>|</i>
                </li>
                <li>Kiểm tra</li>
            </ul>
        </div>
    </div>
</div>
@if (Model != null)
{
    <!-- //page -->
    <!-- checkout page -->
    <div class="privacy">
        <div class="container">
            <!-- tittle heading -->
            <h3 class="tittle-w3l">
                Kiểm tra
                <span class="heading-style">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </h3>
            <!-- //tittle heading -->

            <div class="checkout-right">
                <h4>
                    Giỏ hàng của bạn gồm :
                    <span>@Model.Count() sản phẩm</span>
                </h4>
                <div class="table-responsive">
                    <table class="timetable_sub">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Tên sản phẩm</th>

                                <th>Giá</th>
                                <th>Thành tiền</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var sp in Model)
                            {
                                dem++;
                                var rem = "rem" + @dem;
                                var close = "close" + @dem;
                                float tien = (float)sp.SP.GiaBanLe * sp.SoLuong;
                                tongtien = tongtien + tien;
                                <tr class="@rem">
                                    <td class="invert">@dem</td>
                                    <td class="invert-image">
                                        <a href="single2.html">
                                            <img src="@sp.SP.Hinhanhindex" alt=" " class="img-responsive">
                                        </a>
                                    </td>
                                    <td class="invert">
                                        <input type="text" class="txtQuantity" data-id="@sp.SP.MaSp" value="@sp.SoLuong" />
                                    </td>
                                    <td class="invert">@sp.SP.TenSp</td>
                                    <td class="invert">@sp.SP.GiaBanLe.ToString() VNĐ</td>
                                    <td class="invert">@tien.ToString("N0") VNĐ</td>
                                    <td class="invert">
                                        <a href="#" data-id="@sp.SP.MaSp" class="btn-delete">Xóa</a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <h1 style="text-align:right"> Tổng tiền: @tongtien.ToString("N0") VNĐ</h1>
            <br />
            <br />
            <div class="section group">
                <div class="col-md-6">
                    @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label>Điện thoại</label>
                            <input name="mobile" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input name="address" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input name="email" class="form-control" />
                        </div>
                        <button type="submit" class="btn">Gửi đơn hàng</button>
                    }
                </div>


            </div>
        </div>
    </div>
}


